{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<!--<a href="/articles/input" class="btn btn-primary">Back</a>-->
<!--<a href="/articles/delete/{{id}}" class="btn btn-danger">Delete</a>-->
<a href="/articles/edit/{{id}}" class="btn btn-primary">Edit</a>
<a href="/articles/delete/{{id}}" class="btn btn-danger">Delete</a>
{{>layouts/footer}}