{{>layouts/header}}
{{#article}}
<form class="container" action="/articles/edit" method="post">
    <div class="mb-3">
        <input type="hidden" name="id" value="{{id}}" />
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/article}}
{{>layouts/footer}}

